.centers {
  @media (max-width: $mobileSmall) {
    background: $colorGrayBlue;
  }

  // .centers__container

  &__container {
  }

  // .centers__body

  &__body {
  }

  // .centers__top

  &__top {
    display: flex;
    justify-content: space-between;
  }

  // .centers__title

  &__title {
    line-height: 63px;
    margin-bottom: 8px;
  }

  // .centers__desc

  &__desc {
  }

  // .centers__slider

  &__slider {
    @media (max-width: $mobileSmall) {
      position: relative;
      padding: 0 12px;
    }
  }

  // .centers__slider-navigation

  &__slider-navigation {
    margin: auto 0 30px 0;

    @media (max-width: $mobileSmallXS) {
      margin: unset;
      top: 90px;
    }
  }

  // .centers__wrapper

  &__wrapper {
  }

  // .centers__slide

  &__slide {
    display: flex;
    flex-direction: column;
    max-width: 512px;

    @media (max-width: $tablet) {
      max-width: 400px;
    }

    @media (max-width: $mobileSmall) {
      max-width: unset;
    }
  }

  // .centers__link

  &__link {
    display: flex;
    flex-direction: column;
  }

  // .centers__img-wrapper

  &__img-wrapper {
    max-height: 250px;
    margin-bottom: 20px;
    overflow: hidden;

    @media (max-width: $mobileSmallXS) {
      max-height: 180px;
    }
  }

  // .centers__img

  &__img {
    object-fit: cover;
  }

  // .centers__heading

  &__heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 26px;
    padding-right: 20px;

    @media (max-width: $tablet) {
      padding-right: unset;
      margin-bottom: 15px;
    }
  }

  // .centers__address

  &__address {
    color: $colorGray;
    line-height: 22px;
    &::before {
      background-image: url(@img/icon_map.svg);
      width: 24px;
      height: 20px;
    }
  }

  // .centers__phone

  &__phone {
    color: $colorGray;
    line-height: 22px;
    &::before {
      background-image: url(@img/icon_phone.svg);
      width: 19px;
      height: 19px;
    }
  }

  // .centers__mail

  &__mail {
    line-height: 22px;
    &::before {
      background-image: url(@img/icon_mail.svg);
      width: 20px;
      height: 15px;
    }
  }

  // .centers__icon
  &__icon {
    display: flex;
    align-items: center;
    width: max-content;

    &:not(:last-child) {
      margin-bottom: 22px;

      @media (max-width: $tablet) {
        margin-bottom: 15px;
      }
    }

    &::before {
      content: "";
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 15px;
    }
  }
}
.title {
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.centers {
  // .centers__slider-navigation

  &__slider-navigation {
  }
}
.swiper {
  // .swiper__navigation

  &__navigation {
  }
}
.center-prev {
}
.swiper-button {
}
.swiper-button-prev {
}
.center-next {
}
.swiper-button-next {
}
