.reviews {
  // .reviews__top

  &__top {
    display: flex;
    justify-content: space-between;
  }

  // .reviews__text

  &__text {
  }

  // .reviews__title

  &__title {
    margin-bottom: 8px;
  }

  // .reviews__desc

  &__desc {
  }

  // .reviews__slider-navigation

  &__slider-navigation {
    margin-top: auto;
  }

  // .reviews__slider

  &__slider {
  }

  // .reviews__wrapper

  &__wrapper {
  }

  // .reviews__slide

  &__slide {
    max-width: 780px;
    max-height: 470px;
  }
}
.reviews-top {
  // .reviews-top__container

  &__container {
  }
}
.title {
}
.swiper {
  // .swiper__navigation

  &__navigation {
  }
}
.reviews-prev {
}
.swiper-button {
}
.swiper-button-prev {
}
.reviews-next {
}
.swiper-button-next {
}
.swiper-wrapper {
}
.swiper-slide {
}
