.reviews {
  padding: 45px 0;

  // .reviews__top

  &__top {
    display: flex;
    justify-content: space-between;
  }

  // .reviews__title

  &__title {
    margin-bottom: 8px;
  }

  // .reviews__slider-navigation

  &__slider-navigation {
    margin-top: auto;
  }

  // .reviews__slider

  &__slider {
    @media (max-width: $mobileSmall) {
      position: relative;
      padding: 0 12px;
    }
  }

  // .reviews__slide

  &__slide {
    max-width: 780px;
    max-height: 470px;

    @media (max-width: $tablet) {
      max-width: unset;
    }

    @media (max-width: $mobile) {
      width: 500px;
      height: 300px;
    }

    @media (max-width: $mobileSmall) {
      height: 250px;
    }

    & video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
