.reviews {
  // .reviews__top

  &__top {
    display: flex;
    justify-content: space-between;
  }

  // .reviews__text

  &__text {
  }

  // .reviews__title

  &__title {
    margin-bottom: 8px;
  }

  // .reviews__desc

  &__desc {
  }

  // .reviews__slider-navigation

  &__slider-navigation {
    margin-top: auto;
  }

  // .reviews__slider

  &__slider {
    @media (max-width: $mobileSmall) {
      position: relative;
      padding: 0 12px;
    }
  }

  // .reviews__wrapper

  &__wrapper {
  }

  // .reviews__slide

  &__slide {
    max-width: 780px;
    max-height: 470px;

    @media (max-width: $tablet) {
      max-width: unset;
    }

    @media (max-width: $mobile) {
      width: 500px;
      height: 300px;
    }

    @media (max-width: $mobileSmall) {
      height: 250px;
    }

    & video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
.reviews-top {
  // .reviews-top__container

  &__container {
  }
}
.title {
}
.swiper {
  // .swiper__navigation

  &__navigation {
  }
}
.reviews-prev {
}
.swiper-button {
}
.swiper-button-prev {
}
.reviews-next {
}
.swiper-button-next {
}
.swiper-wrapper {
}
.swiper-slide {
}
