.services {
  // .services__container

  &__container {
  }

  // .services__body

  &__body {
    position: relative;

    &::before {
      content: "";
      background-image: url(@img/logo-decor.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      width: 170px;
      height: 170px;
      position: absolute;
      left: 0;
      bottom: -125px;

      @media (max-width: $netbook) {
        display: none;
      }
    }
    &:after {
      content: "Rehab Recovery";
      position: absolute;
      z-index: 0;
      bottom: -125px;
      right: 0;
      font-family: $fontFamilyOsw;
      font-size: 210px;
      text-transform: uppercase;
      color: $colorGray;

      @media (max-width: $pc) {
        font-size: 170px;
      }
      @media (max-width: $notebook) {
        font-size: 140px;
      }
      @media (max-width: $netbook) {
        font-size: 140px;
        right: unset;
        left: 0;
      }
      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  // .services__top

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 26px;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  // .services__title

  &__title {
    max-width: 684px;
    margin-right: 120px;

    @media (max-width: $netbook) {
      margin-right: 40px;
    }
    @media (max-width: $tablet) {
      max-width: unset;
      margin-right: unset;
      margin-bottom: 14px;
    }
  }

  // .services__choice

  &__choice {
  }

  // .services__bottom

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin: -12px;
    margin-bottom: 180px;

    @media (max-width: $tablet) {
      flex-direction: column;
      margin-bottom: 100px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 50px;
    }
  }

  // .services__col

  &__col {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (max-width: $tablet) {
      flex-direction: row;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  // .services__bottom-left

  &__bottom-left {
    @media (max-width: $tablet) {
      flex-direction: column;
    }

    & .services__bottom-elem {
      max-height: 520px;
    }

    & .services__heading {
      flex-direction: column;
      align-items: flex-end;

      &::after {
        margin-top: 16px;
      }
    }
  }
  // .services__bottom-middle

  &__bottom-middle {
    & .services__bottom-elem {
      &:first-child {
        max-height: 350px;

        @media (max-width: $tablet) {
          max-height: 100%;
        }

        & .services__heading {
          &::after {
            margin-left: 20px;
          }
        }
      }
      &:last-child {
        max-height: 240px;

        @media (max-width: $tablet) {
          max-height: 100%;
        }

        & .services__heading {
          flex-direction: column;
          align-items: flex-end;

          &::after {
            margin-top: 16px;
          }
        }
      }
    }
  }

  // .services__bottom-right

  &__bottom-right {
    & .services__bottom-elem {
      &:first-child {
        max-height: 240px;

        @media (max-width: $tablet) {
          max-height: 100%;
        }

        & .services__heading {
          &::after {
            margin-left: 20px;
          }
        }
      }
      &:last-child {
        max-height: 350px;

        @media (max-width: $tablet) {
          max-height: 100%;
        }

        & .services__heading {
          &::after {
            margin-left: 20px;

            @media (max-width: $tablet) {
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  // .services__buttons

  &__buttons {
    margin-bottom: calc(50px - 12px);
    padding: 12px 0 0 12px;

    @media (max-width: $tablet) {
      margin-top: 18px;
    }
  }

  // .services__bottom-elem

  &__bottom-elem {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 12px;

    @media (max-width: $tablet) {
      height: 300px;
    }
    @media (max-width: $mobile) {
      height: 340px;
    }
  }

  // .services__bottom-link

  &__bottom-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }

  // .services__bottom-img

  &__bottom-img {
    object-fit: cover;
  }

  // .services__heading

  &__heading {
    font-family: $fontFamilyOsw;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 38px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    margin: 14px 30px 0 0;
    max-width: 360px;
    @media (max-width: $netbook) and (min-width: $tablet) {
      font-size: 24px;
      margin: 14px;
    }
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: flex-end;
      margin: 14px 14px 0px 14px;
    }

    &::after {
      content: "";
      background: #fff url(@img/arrow.svg) center center no-repeat;
      background-size: 100%;
      width: 50px;
      height: 50px;
      flex-shrink: 0;
      border-radius: 50%;

      @media (max-width: $tablet) {
        margin-top: 20px;
      }
      @media (max-width: $mobile) {
        width: 36px;
        height: 36px;
      }
    }
  }

  // .services__footer

  &__footer {
  }
}

.services-other {
  position: relative;
  z-index: 2;
  // .services-other__title

  &__title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  // .services-other__list

  &__list {
    margin: -5px;
  }

  // .services-other__item

  &__item {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 5px;
  }

  // .services-other__button

  &__button {
    font-size: 14px;
    padding: 11px 20px;
    background-color: $colorGray;
    border-radius: 20px;

    @media (max-width: $mobile) {
      font-size: 12px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 10px;
      padding: 10px;
    }
  }
}

.services-choice {
  // .services-choice__desc

  &__desc {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;

    @media (max-width: $tablet) {
      margin-bottom: 40px;
      font-size: 17px;
    }
  }

  // .services-choice__body

  &__body {
    display: flex;
  }

  // .services-choice__img

  &__img {
    display: flex;
    margin-right: 30px;

    @media (max-width: $mobile) {
      margin-right: 0;
      flex-wrap: wrap;
      margin: -10px;
    }
  }

  // .services-choice__country

  &__country {
    display: block;
    width: 50px;
    height: 30px;

    @media (max-width: $mobile) {
      margin: 10px;
    }

    &:not(:last-child) {
      margin-right: 20px;
      @media (max-width: $mobile) {
        margin-right: 10px;
      }
    }
  }

  // .services-choice__link

  &__link {
    font-size: 14px;

    @media (max-width: $mobile) {
      display: none;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.link {
}
.buttons {
}
.button {
}
.button-color-yellow {
}
