body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}
.popup-show body::after {
  opacity: 1;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 40px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}
.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 99%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 95%;
  border-radius: $borderRadiusSmall;
  .lock & {
    visibility: visible;
  }

  // .popup__content-countries
  &-countries {
    max-width: 1584px;

    // .choice
    & .choice {
      grid-template-columns: repeat(3, 1fr);
      margin: -20px;

      @media (max-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: $mobile) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    // .choice__center

    & .choice__center {
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      padding-left: 20px;
    }
  }
  // .popup__content-city
  &-city {
    max-width: max-content;
  }
  // .popup__content-forma
  &-forma {
    max-width: 600px;
  }
  // .popup__content-desc
  &-desc {
    max-width: 1584px;
  }
}
.popup__close {
  display: block;
  position: absolute;
  top: -30px;
  right: 0;
  width: rem(30);
  height: rem(18);
  cursor: pointer;
  z-index: 5;
  background-color: transparent;
  span,
  &::before,
  &::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: rem(2);
    background-color: #fff;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: calc(50% - rem(1));
    width: 0;
  }

  &::before {
    top: calc(50% - rem(1));
    transform: rotate(-45deg);
  }
  &::after {
    bottom: calc(50% - rem(1));
    transform: rotate(45deg);
  }
}

.choice {
  display: grid;

  // .choice__country

  &__country {
    margin: 20px;
  }

  // .choice__country-link

  &__country-link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  // .choice__country-img

  &__country-img {
    max-width: 50px;
    margin-right: 14px;
  }

  // .choice__country-name

  &__country-name {
    font-family: $fontFamilyOsw;
    font-size: 18px;
    font-weight: 500;
  }

  // .choice__center-item

  &__center-item {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  // .choice__center-img

  &__center-img {
    max-width: 34px;
    margin-right: 10px;
  }

  // .choice__center-link

  &__center-link {
    display: flex;
    flex-direction: column;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  // .choice__center-city

  &__center-city {
    font-size: 14px;
    color: $colorGray;
    line-height: 1;
    margin-bottom: 4px;
  }

  // .choice__center-name

  &__center-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
  }
}
.popup__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;

  @media (max-width: $mobile) {
    font-size: 20px;
  }
  @media (max-width: $mobileSmallXS) {
    font-size: 18px;
  }
}
.popup {
  // .popup__wrapper

  &__wrapper {
  }

  // .popup__content

  &__content {
  }

  // .popup__content-forma

  &__content-forma {
  }

  // .popup__close

  &__close {
  }

  // .popup__form-body

  &__form-body {
  }

  // .popup__input

  &__input,
  &__input-textarea {
    border: 1px solid #b9ccdb;

    &:focus {
      border: 1px solid #b9ccdb;
    }
  }

  // .popup__input-textarea

  &__input-textarea {
  }

  // .popup__chekbox

  &__chekbox {
  }

  // .popup__checkbox-wrapper

  &__checkbox-wrapper {
  }

  // .popup__checkbox-input

  &__checkbox-input {
  }

  // .popup__checkbox-indicator

  &__checkbox-indicator {
  }

  // .popup__chekbox-text

  &__chekbox-text {
  }

  // .popup__chekbox-link

  &__chekbox-link {
  }
}
.input {
  // .input__name

  &__name {
  }

  // .input__tel

  &__tel {
  }

  // .input__textarea

  &__textarea {
  }
}
.checkbox {
  // .checkbox__wrapper

  &__wrapper {
  }

  // .checkbox__input

  &__input {
  }

  // .checkbox__indicator

  &__indicator {
  }

  // .checkbox__text

  &__text {
  }

  // .checkbox__link

  &__link {
  }
}
.link {
}
.button {
}
.button-color-yellow {
}
