// <SELECT>
// Снипет (HTML): sel
.select {
  position: relative;
  // .select__body
  &__body {
    position: relative;
    margin-bottom: 20px;
  }
  // .select__title
  &__title {
    color: inherit;
    text-align: left;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
  }
  // .select__value
  &__value {
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 17px 20px;
    gap: rem(10);
    > * {
      flex: 1 1 auto;
    }
    &:after {
      content: "";
      background: url("@img/arrow_spoller.svg") center center no-repeat;
      background-size: 100%;
      width: 16px;
      height: 9px;
      transition: all 0.3s ease 0s;

      ._select-open & {
        transform: scale(1, -1);
      }
    }
    &._select-pseudo-label {
      &::before {
        content: attr(data-pseudo-label);
        opacity: 0.5;
      }
    }
  }
  // .select__text
  &__text {
    flex: 1 1 auto;
  }
  &__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
  }
  // .select__options
  &__options {
    color: #000;
    font-size: 16px;
    position: absolute;
    // top: 29px;
    border-radius: 0 0 3px 3px;
    min-width: 100%;
    left: 0;
    background-color: #fff;
    border-top: 0;
    border-top: 0;
  }
  // .select__scroll
  &__scroll {
    overflow-y: auto;
    overflow-x: hidden;
    // Максимальная высота
    max-height: 200px;
    // Стили скроллбара
    .simplebar-scrollbar {
      &::before {
        //opacity: 1;
      }
    }
  }
  // .select__option
  &__option {
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 17px 20px;
    color: inherit;
    &._select-selected {
      background-color: #eee;
    }
    @media (any-hover: hover) {
      &:hover {
        background: $colorGrayBlueHover;
      }
    }
  }

  // Конструкция дополнительных данных
  &__row {
    display: inline-flex;
    align-items: center;
  }
  &__asset {
  }
  &__text {
  }

  // Состояния селекта
  &._select-open {
    z-index: 5;
  }
  &._select-disabled {
  }
  &._select-active {
  }
  &._select-focus {
  }
  &._select-multiple {
  }
  &._select-checkbox {
  }
}

// Тег
._select-tag {
  cursor: pointer;
}
