// Заголовки, общие БЄМ блоки и проче...
section {
  background-color: #fff;
  padding: 100px 0;

  @media (max-width: $tablet) {
    padding: 80px 0;
  }

  @media (max-width: $mobile) {
    padding: 50px 0;
  }
  @media (max-width: $mobileSmall) {
    padding: 30px 0;
  }
}
.wrapper {
  //   position: relative;
  //   z-index: 22;
  //   background: url(@img/main/main_back-1.jpg);
  //   background-position: 0 0;
  //   background-repeat: no-repeat;
  //   background-size: 100% 1100px;

  //   @media (max-width: $notebook) {
  //     background-size: 100% calc(156px + 763px);
  //   }
}
.gradient {
  background: linear-gradient(90deg, #e5007d 0%, #008bd2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.buttons {
  display: flex;
  align-items: center;

  & .button:first-child {
    margin-right: 10px;

    @media (max-width: $mobileSmall) {
      margin-right: unset;
      margin-bottom: 10px;
    }
  }

  @media (max-width: $mobileSmall) {
    flex-direction: column;
    align-items: start;
  }
}
.button {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  background: #f2edeb;
  padding: 17px 30px;
  border-radius: $borderRadiusSmall;
  cursor: pointer;

  @media (max-width: $mobile) {
    padding: 17px;
  }

  // .button-color-yellow

  &-color-yellow {
    background: $colorYellow;
  }
}
.link {
  font-size: 13px;
  color: $colorBlue;
  text-decoration: underline !important;
}

.title {
  font-family: $fontFamilyOsw;
  font-size: 45px;
  line-height: 63px;
  text-transform: uppercase;

  @media (max-width: $netbook) {
    font-size: 40px;
    line-height: 1.25;
  }
  @media (max-width: $mobile) {
    font-size: 34px;
  }
  @media (max-width: $mobileSmall) {
    font-size: 28px;
  }

  & span {
    color: $colorBlue;
  }
}

.desc {
  line-height: 26px;
  max-width: 700px;
  margin-bottom: 30px;
}

.swiper__navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;

  @media (max-width: $mobileSmall) {
    position: absolute;
    top: 115px;
    left: 0;
    width: 100%;
    justify-content: space-between;
    margin-bottom: unset;
    padding: 0 24px;
  }

  & button:first-child {
    margin-right: 10px;
  }
}

.swiper-button {
  content: "";
  background: url("@img/arrow.svg") center center no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $mainColor;

  @media (max-width: $mobileSmall) {
    border: unset;
    background: $colorYellow url("@img/arrow.svg") center center no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
  }
}
.swiper-button-prev {
  transform: rotate(180deg);
}

.logo {
  max-width: 75px;
  max-height: 100px;
}

@media (hover: hover) {
  button,
  a,
  button:hover,
  a:hover,
  input[type="submit"],
  input[type="submit"]:hover {
    transition: all 0.3s;
  }

  .button-color-yellow {
    &:hover {
      color: #fff;
    }
  }
  .link {
    &:hover {
      color: $mainColor;
    }
  }

  .swiper-button-prev {
    &:hover {
      transform: rotate(180deg) scale(0.95);
    }
  }
  .swiper-button-next {
    &:hover {
      transform: scale(0.95);
    }
  }

  .header__menu-link {
    &:hover {
      background-color: $colorGray;
    }
  }

  .services-choice__country {
    &:hover {
      transform: scale(0.95);
    }
  }

  .services__bottom-img {
    transition: all 0.3s;
  }
  .services__heading::after {
    transition: all 0.3s;
  }
  .services__bottom-link {
    &:hover {
      & .services__bottom-img {
        filter: brightness(90%);
      }

      & .services__heading::after {
        transform: translateX(5px);
      }
    }
  }

  .services-other__button {
    &:hover {
      background-color: $colorGrayHover;
    }
  }

  .centers__img {
    transition: all 0.3s;
  }
  .centers__link {
    &:hover {
      & .centers__img {
        transform: scale(1.02);
        filter: brightness(90%);
      }
    }
  }

  .aboutus__link {
    &:hover {
      &::after {
        transition: all 0.3s;
        width: calc(100% + 20px);
      }
    }
  }

  .aboutus__socials-link {
    &:hover {
      color: $colorBlue;
    }
  }

  .faq-spollers__item {
    transition: all 0.3s;

    &:hover {
      transition: all 0.3s;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.6);
    }
  }

  .footer-bottom__link {
    &:hover {
      color: $colorYellow;
    }
  }
}
