//====================================================================================================
//====================================================================================================

.footer {
  background: $colorGrayBlue;

  // .footer__body

  &__body {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;

    @media (max-width: $mobile) {
      flex-direction: column-reverse;
      padding: 50px 0;
    }
  }

  // .footer__col-form

  &__col-form {
    position: relative;
    z-index: 2;
    margin-right: 290px;
    max-width: calc(50% - 145px);

    @media (max-width: $netbook) {
      max-width: calc(50% - 40px);
      margin-right: 80px;
    }

    @media (max-width: $tablet) {
      max-width: calc(50% - 20px);
      margin-right: 40px;
    }
    @media (max-width: $mobile) {
      max-width: 100%;
      margin-right: unset;
    }
  }

  // .footer__headline

  &__headline {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 25px;
  }

  // .footer__desc

  &__desc {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  // .footer__col-info

  &__col-info {
    position: relative;
    z-index: 1;
    max-width: calc(50% - 145px);

    @media (max-width: $netbook) {
      max-width: calc(50% - 40px);
    }
    @media (max-width: $tablet) {
      max-width: calc(50% - 20px);
    }
    @media (max-width: $mobile) {
      max-width: 100%;
      margin-bottom: 50px;
    }

    &::before {
      content: "Контакты";
      color: $colorGrayBlue;
      font-family: $fontFamilyOsw;
      font-size: 176px;
      text-transform: uppercase;
      text-shadow:
        1px 1px 0 #c6d0d8,
        1px -1px 0 #c6d0d8,
        -1px 1px 0 #c6d0d8,
        -1px -1px 0 #c6d0d8;
      position: absolute;
      left: -120px;
      top: 0;
      z-index: -1;

      @media (max-width: $tablet) {
        display: none;
      }
    }
  }
}

.footer-info {
  // .footer-info__title

  &__title {
    margin-bottom: 50px;

    @media (max-width: $mobile) {
      margin-bottom: 30px;
    }
  }

  // .footer-info__phone

  &__phone {
    margin-bottom: 40px;

    @media (max-width: $mobile) {
      margin-bottom: 20px;
    }
  }

  // .footer-info__address

  &__address {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    display: block;
    margin-bottom: 20px;

    @media (max-width: $mobile) {
      margin-bottom: 15px;
    }
  }
}

.footer-phone {
  // .footer-phone__text

  &__text {
    margin-bottom: 5px;
  }

  // .footer-phone__link

  &__link {
    font-family: $fontFamilyOsw;
    font-size: 40px;
  }
}
.footer-socials {
  display: flex;
  // .footer-socials__link

  &__link {
    display: block;
    content: "";
    width: 27px;
    height: 27px;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  // .footer-socials__link-yt

  &__link-yt {
    background: #0289cc url("@img/footer_yt.svg") center center no-repeat;
  }

  // .footer-socials__link-tg

  &__link-tg {
    background: #0289cc url("@img/footer_tg.svg") 40% 50% no-repeat;
  }

  // .footer-socials__link-vk

  &__link-vk {
    background: #0289cc url("@img/footer_vk.svg") center center no-repeat;
  }
}
.footer-bottom {
  width: 100%;
  background: #2e3b46;
  padding: 34px 0;

  // .footer-bottom__container
  &__container {
    display: flex;
    align-items: center;
  }
  // .footer-bottom__logo

  &__logo {
    margin-right: 30px;
    flex: 1 0 70px;

    @media (max-width: $mobileSmallXS) {
      margin-right: 15px;
    }
  }

  // .footer-bottom__text

  &__text {
    font-size: 13px;
    color: #fff;
  }

  // .footer-bottom__offer

  &__offer {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media (max-width: $mobileSmallXS) {
      font-size: 13px;
      line-height: 20px;
    }
  }

  // .footer-bottom__links

  &__links {
    font-size: 14px;

    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
    }
  }

  // .footer-bottom__link

  &__link {
    text-decoration: underline !important;
    line-height: 30px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
