//====================================================================================================
//====================================================================================================

.footer {
  background: $colorGray;

  // .footer__container

  &__container {
  }

  // .footer__body

  &__body {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
  }

  // .footer__col-form

  &__col-form {
    margin-right: 290px;
    max-width: calc(50% - 145px);
  }

  // .footer__form

  &__form {
  }

  // .footer__form-headline

  &__form-headline {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 30px;
  }

  // .footer__form-desc

  &__form-desc {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  // .footer__form-body

  &__form-body {
  }

  // .footer__col-info

  &__col-info {
    position: relative;
    z-index: 1;
    max-width: calc(50% - 145px);

    &::before {
      content: "Контакты";
      color: $colorGray;
      font-family: $fontFamilyOsw;
      font-size: 176px;
      text-transform: uppercase;
      text-shadow:
        1px 1px 0 #c6d0d8,
        1px -1px 0 #c6d0d8,
        -1px 1px 0 #c6d0d8,
        -1px -1px 0 #c6d0d8;
        position: absolute;
        left: -120px;
        top: 0;
        z-index: -1;
    }
  }

  // .footer__col-bottom

  &__col-bottom {
  }
}
.footer-form {
  // .footer-form__input

  &__input {
    width: 100%;
    padding: 17px 20px;
    margin-bottom: 20px;

    &::placeholder {
      font-size: 16px;
      color: #808080;
    }
  }

  // .footer-form__chekbox

  &__chekbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  // .footer-form__checkbox-label

  &__checkbox-label {
    display: flex;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 30px;
    height: 30px;
    margin-right: 12px;
  }

  // .footer-form__checkbox-input

  &__checkbox-input {
    width: 30px;
    height: 30px;
  }

  // .footer-form__checkbox-span

  &__checkbox-span {
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  // .footer-form__chekbox-text

  &__chekbox-text {
    font-size: 14px;
  }

  // .footer-form__chekbox-link

  &__chekbox-link {
    font-size: 14px;
  }
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;

  &:checked ~ span {
    color: #fff;
    background: $colorYellow
      url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+)
      50% 40% no-repeat;
  }
}
.input {
}
.checkbox-block {
}
.checkbox {
}
.indicator {
}
.link {
}
.button {
}
.button-color-yellow {
}
.footer-info {
  // .footer-info__title

  &__title {
    margin-bottom: 50px;
  }

  // .footer-info__select

  &__select {
    width: 100%;
    font-family: $fontFamilyMont;
    font-size: 16px;
    padding: 17px 20px;
    margin-bottom: 20px;
  }

  // .footer-info__phone

  &__phone {
    margin-bottom: 40px;
  }

  // .footer-info__address

  &__address {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    display: block;
    margin-bottom: 20px;
  }

  // .footer-info__socials

  &__socials {
  }
}
.title {
}
.footer-phone {
  // .footer-phone__text

  &__text {
    margin-bottom: 5px;
  }

  // .footer-phone__link

  &__link {
    font-family: $fontFamilyOsw;
    font-size: 40px;
  }
}
.footer-socials {
  display: flex;
  // .footer-socials__link

  &__link {
    display: block;
    content: "";
    width: 27px;
    height: 27px;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  // .footer-socials__link-yt

  &__link-yt {
    background: #0289cc url("@img/footer_yt.svg") center center no-repeat;
  }

  // .footer-socials__link-tg

  &__link-tg {
    background: #0289cc url("@img/footer_tg.svg") 40% 50% no-repeat;
  }

  // .footer-socials__link-vk

  &__link-vk {
    background: #0289cc url("@img/footer_vk.svg") center center no-repeat;
  }
}
.footer-bottom {
  width: 100%;
  background: #2e3b46;
  padding: 34px 0;

  // .footer-bottom__container
  &__container {
    display: flex;
    align-items: center;
  }
  // .footer-bottom__logo

  &__logo {
    margin-right: 30px;
  }

  // .footer-bottom__text

  &__text {
    font-size: 13px;
    color: #fff;
  }

  // .footer-bottom__offer

  &__offer {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  // .footer-bottom__links

  &__links {
    font-size: 14px;
  }

  // .footer-bottom__link

  &__link {
    text-decoration: underline !important;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
.logo {
}
