//====================================================================================================
.header {
  padding: 40px 0 16px 0;
  position: fixed;
  z-index: 40;
  top: 0;
  width: 100%;
  background-color: #fff;
  transition: all 0.3s;

  @media (max-width: $tablet) {
    padding: 20px 0 16px 0;
  }
  @media (max-width: $mobileSmall) {
    padding: 15px 0;
  }

  &._header-scroll {
    padding: 16px 0 16px 0;
    transition: all 0.3s;

    @media (max-width: $tablet) {
      padding: 10px 0;
    }

    & .header__logo {
      max-width: 65px;

      @media (max-width: $tablet) {
        max-width: 50px;
      }
    }
  }

  // .header__container

  &__container {
    position: relative;
  }

  // .header__body

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__logo

  &__logo {
    margin-right: 70px;
    flex: 1 0 50px;

    @media (max-width: $notebook) {
      margin-right: 20px;
    }
    @media (max-width: $tablet) {
      margin-right: 10px;
    }
    @media (max-width: $mobile) {
      margin-right: auto;
      max-width: 50px;
    }
    @media (max-width: $mobileSmall) {
      flex: 1 0 43px;
    }
  }

  // .header__logo-img

  &__logo-img {
  }

  // .header__menu

  &__menu {
    margin-right: auto;

    @media (max-width: $tablet) {
      order: -1;
      margin-right: 40px;
    }
    @media (max-width: $mobileSmall) {
      margin-right: 16px;
    }
  }

  // .header__menu-body

  &__menu-body {
    @media (max-width: $tablet) {
      position: absolute;
      top: -1000vh;
      left: 0;
      width: 100%;
      height: 100vh;
      padding: 80px 0;
      transition: all 1s;
      background-color: #fff;
    }
  }

  // .header__menu-list

  &__menu-list {
    display: flex;
    align-items: center;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  // .header__menu-item

  &__menu-item {
    // position: relative;
    display: flex;

    &:nth-child(n + 4) {
      & .menu-item__submenu {
        left: unset;
        right: 0;
      }
    }

    @media (max-width: $tablet) {
      position: relative;
      z-index: 8;
      flex-direction: column;
      width: 100%;
      background-color: #fff;
    }
  }

  // .header__menu-link

  &__menu-link {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 16px 40px;
    white-space: nowrap;

    @media (max-width: $netbook) {
      padding: 10px 20px;
    }
    @media (max-width: $tablet) {
      font-size: 12px;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 30px;
      font-size: 20px;
      width: max-content;
      z-index: 1;

      &._spoller-active {
        background-color: $colorGrayBlue;

        &::after {
          transform: scale(1, -1);
        }
      }
    }
    @media (max-width: $mobile) {
    }
  }

  // .header__phone

  &__phone {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $netbook) {
      margin-left: 20px;
    }
    @media (max-width: $tablet) {
      margin-left: 10px;
    }
  }

  // .header__phone-text

  &__phone-text {
    font-size: 14px;
    margin-bottom: 6px;

    @media (max-width: $tablet) {
      font-size: 13px;
    }
  }

  // .header__phone-wrapper

  &__phone-wrapper {
    display: flex;
    align-items: center;
  }

  // .header__phone-tel

  &__phone-tel {
    font-family: $fontFamilyOsw;
    font-size: 30px;
    margin-right: 20px;
    white-space: nowrap;

    @media (max-width: $netbook) {
      font-size: 24px;
      margin-right: 14px;
    }
    @media (max-width: $tablet) and (min-width: $mobile) {
      font-size: 22px;
    }
  }

  // .header__phone-wh

  &__phone-wh {
    width: 25px;
    height: 25px;
  }
}
.header__menu-item {
  @media (min-width: $tablet) {
    &:hover {
      & .submenu {
        display: block;
      }
    }
  }
}
.header._header-scroll {
  & .header__menu-item {
    &:hover {
      & .submenu {
        top: 70px;
        @media (max-width: $netbook) {
          top: 64px;
        }
        @media (max-width: $tablet) {
          top: 52px;
        }
      }
    }
  }
}
.submenu {
  @media (min-width: $tablet) {
    display: none;
    position: absolute;
    top: 77px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 168px);
    background-color: #fff;
    max-height: calc(100vh - 110px);
    overflow-y: overlay;
  }
  @media (max-width: $notebook) {
    width: calc(100% - 56px);
  }
  @media (max-width: $netbook) {
    top: 71px;
  }
  @media (max-width: $tablet) {
    width: 100%;
    top: 69px;
    background-color: #fff;
  }
  // .submenu__wrapper
  &__wrapper {
    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background-color: #fff;
    }
  }
  // .submenu__country

  &__country {
    margin: 20px;
    @media (max-width: $tablet) {
      margin: unset;
      padding: 10px 30px;
    }
  }

  // .submenu__country-link

  &__country-link {
    font-family: $fontFamilyOsw;
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;

    @media (max-width: $tablet) {
    font-family: $fontFamilyMont;
    font-weight: 700;
    font-size: 28px;
    }
    & img {
      max-width: 40px;
      max-height: 24px;
      margin-right: 14px;

      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  // .submenu__center

  &__center {
    border-left: 1px solid rgba(0, 0, 0, 0.2);

    @media (max-width: $tablet) {
      border-left: none;
    }
  }

  // .submenu__center-item

  &__center-item {
    position: relative;
    display: flex;
    margin-left: 20px;

    @media (max-width: $tablet) {
      margin-left: unset;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  // .submenu__center-img

  &__center-img {
    width: 34px;
    height: 48px;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  // .submenu__center-link

  &__center-link {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    max-width: 400px;

    @media (max-width: $tablet) {
      max-width: 100%;
      margin-left: unset;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  // .submenu__center-city

  &__center-city {
    font-size: 12px;
    color: $colorGray;
    margin-bottom: 4px;
    transition: all 0.3s;

    @media (max-width: $tablet) {
      margin-bottom: 0;
    }
  }

  // .submenu__center-name

  &__center-name {
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s;

    @media (max-width: $tablet) {
      font-size: 16px;
    }
  }
}

//====================================================================================================

//Burger
.icon-menu {
  display: none;
  @media (max-width: $tablet) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
  @media (max-width: $mobileSmall) {
    width: rem(20);
    height: rem(14);
  }
}
.menu-open .header__menu-body {
  top: 0;
  overflow-y: overlay;
  transition: all 0.6s;
}
.burger-button {
  @media (min-width: $tablet) {
    display: none;
  }

  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 0;
  background: url(../img/arrow_spoller.svg) 95% center no-repeat;
  transition: all 0.3s;

  &._spoller-active {
    background-color: $colorGrayBlue;
    transform: scale(1, -1);
    transition: all 0.3s;
  }
  // &:after {
  //   content: "";
  //   background-size: 100%;
  //   width: 16px;
  //   height: 9px;
  //   transition: all 0.3s;
  //   margin-right: 20px;
  // }
}
